img {
  margin: 4px;
}

div {
  margin: 4px;
}

h3, h4 {
  margin: 2px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: small;
  font-weight: lighter;
}

.top-bar{
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1;
}

.quarter {
  display: inline-block;
  margin: 0 1%;
  width: 23%;
}

.center-h2 {
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  z-index: 0.9;
  margin: 4px;
}

.quarter-float {
  float: left;
  margin: 0 1%;
  width: 23%;
}

.other-article {
  /* float: left;*/
  display: inline-block;
  margin: 0 1%;
  width: 23%;
  height: 100px;
  overflow: hidden;
}

.other-article-container {
  position: relative;
  margin: 50px 0 0 0;
}

#main-content{
  margin: 4px 50px;
}

#headline{
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}


.article-text {
  margin-left: 5em;
  margin-right: 5em;
}

#breakout {
  border-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.breakout-image{
  width:100%;
}

.breakout-item {
}












/* some utility classes */

.left {  float: left;}
.right {  float: right;}
.blocky {  display: block;}

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {clear: both;}

/*some distinct colors*/
.c0 { background-color: #ccb8b8;}
.c1 { background-color: #ffbdb3;}
.c2 { background-color: #cc8f66;}
.c3 { background-color: #e5bf73;}
.c4 { background-color: #fffae6;}
.c5 { background-color: #fcffcc;}
.c6 { background-color: #b0e673;}
.c7 { background-color: #a3ccb4;}
.c8 { background-color: #80ffc3;}
.c9 { background-color: #b3faff;}
.c10 { background-color: #73bfe6;}
.c11 { background-color: #e6f3ff;}
.c12 { background-color: #73a1e6;}
.c13 { background-color: #ccdaff;}
.c14 { background-color: #9180ff;}
.c15 { background-color: #eb99ff;}
.c26 { background-color: #ffccf5;}
.c17 { background-color: #e673b0;}
.c18 { background-color: #e57382;}
